doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/styles.css")
    link(href="https://file.myfontastic.com/gN6Juc2xqSvz5j83ctKctR/icons.css" rel="stylesheet")
    title ED-GRID
  body
    include includes/menu
    header.main-header.main-end#header
      a(href="#contact").main-header__button ¡empecemos tu éxito!
      a(href="#main").main-header__icono.icon-bottom
      a(href="#header").main-pointer.icon-up
    //main
    include includes/main
    //services
    include includes/services
    //clients
    include includes/clients
    //footer
    include includes/footer

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="js/scripts.js")
    
