section.main-portafolio#portafolio
  .ed-container
    .ed-item
      h2.main-portafolio__title nuestros clientes y proyectos
    .ed-item.movil-50.tablet-1-3.cross-center
      .main-portafolio__img
        img.main-portafolio__image(src="img/mejia.png", alt="el logo de tu exito")
    .ed-item.movil-50.tablet-1-3.cross-center
      .main-portafolio__img
        img.main-portafolio__image(src="img/brand.png", alt="el logo de tu exito")
    .ed-item.movil-50.tablet-1-3.cross-center
      .main-portafolio__img
        img.main-portafolio__image(src="img/refugio.png", alt="el logo de tu exito")
    .ed-item.movil-50.tablet-1-3.cross-center
      .main-portafolio__img
        img.main-portafolio__image(src="img/unipiel.png", alt="el logo de tu exito")
    .ed-item.movil-50.tablet-1-3.cross-center
      .main-portafolio__img
        h3 ¡Tú eres nuestro próximo cliente!
    .ed-item.movil-50.tablet-1-3.cross-center
      .main-portafolio__img
        h3 ¡Tú eres nuestro próximo cliente!
    .ed-item.main-portafolio__cherry
      .main-porfafolio__icon.icon-top
      h2.main-portafolio__subtitle ¡Tú eres nuestro próximo cliente!