main.main#main
  .ed-container.text-center
    .ed-item
      h1.main-title hablemos de la fórmula perfecta
    .ed-item
      p.main-copy 
      | En Digital Laboratory, encontramos la fórmula perfecta para hacer que tu marca perdure a través de tiempo...
  .ed-container
    .ed-item.text-center
      h2.main-subtitle ¡Te contamos cómo!
    .ed-item.tablet-30.main-icon
      .main-icon__image
        img(src="img/formula/7.png", alt="la formula")
    .ed-item.tablet-70.main-description
      h3.main-description__title Análisis
      p.main-description__copy 
      | Identificamos tu necesidad para brindar la solución más viable y rentable al problema.
    .ed-item.tablet-30.main-icon
      .main-icon__image
        img(src="img/formula/6.png", alt="la formula")
    .ed-item.tablet-70.main-description
      h3.main-description__title Arquitectura de Contenidos
      p.main-description__copy 
      | Generamos la estructura y clasificación ideal de contenidos que ira en la plataforma web para que sus usuarios encuentren la información que buscan en menor cantidad de clic.
    .ed-item.tablet-30.main-icon
      .main-icon__image
        img(src="img/formula/5.png", alt="la formula")
    .ed-item.tablet-70.main-description
      h3.main-description__title Experiencia del Usuario
      p.main-description__copy 
      | Lograremos que la relación  entre tu marca con tus usuarios genere una interacción positiva y duradera. En nuestro Laboratorio creativo sabemos cómo hacerlo.
    .ed-item.tablet-30.main-icon
      .main-icon__image
        img(src="img/formula/4.png", alt="la formula")
    .ed-item.tablet-70.main-description
      h3.main-description__title Diseño
      p.main-description__copy 
      | "Todo entra por los ojos".<br>
      | La identidad de tu marca pasará de lo conceptual    a lo visual, logrando establecer una comunicación visual sólida e interactiva con tu público
    .ed-item.tablet-30.main-icon
      .main-icon__image
        img(src="img/formula/1.png", alt="la formula")
    .ed-item.tablet-70.main-description
      h3.main-description__title Tecnología
      p.main-description__copy 
      | En nuestro Laboratorio Digital incorporamos las últimas novedades en tecnología y herramientas a su plataforma web para hacerlo versátil y flexible. 
    .ed-item.tablet-30.main-icon
      .main-icon__image
        img(src="img/formula/2.png", alt="la formula")
    .ed-item.tablet-70.main-description
      h3.main-description__title Diseño de Respuesta
      p.main-description__copy 
      | Seguro te preguntarás que difícil será eso o que es eso?<br>
      | En nuestro Laboratorio Digital, te la hacemos fácil!! <br>
      | Configuramos tu plataforma para que sea accesible a todos los dispositivos móviles
    .ed-item.tablet-30.main-icon
      .main-icon__image
        img(src="img/formula/3.png", alt="la formula")
    .ed-item.tablet-70.main-description
      h3.main-description__title Marketing en buscadores
      p.main-description__copy 
      | A través de estrategias digitales lograremos que su página web aparezca  cuando un cliente busca algo en concreto.<br>
      | ¡No es magia! Es un trabajo fundamental en el mundo online de largo plazo y que tu marca tiene que hacer para ser líder en los principales buscadores.