nav.main-menu
  .ed-container.main-end
    #boton_.main-menu__tokken.icon-menu.hasta-tablet
    ul.main-list.ed-menu.tablet-horizontal
      li.main-list__item
        a(href="#header").main-link La Agencia
      li.main-list__item
        a(href="#main").main-link Fórmula perfecta
      li.main-list__item
        a(href="#services").main-link Sercicios
      li.main-list__item
        a(href="#portafolio").main-link Proyectos y Clientes
      li.main-list__item
        a(href="#contact").main-link contáctenos